.fullscaleview {
    height: 100%;
    width: 100%;
}

.black {
    background-color: #000000FF;
}

.colflex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.rowflex {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#songs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#songlisttop {
    height: 150px;
    width: 100%;
}

#main_top {
    height: 38px;
    width: 100%;
}

.tablehead {
    height: 20px;
    width: 100%;
    background-color: #252525FF;
}

.tablebody {
    color: #DEDEDEFF;
    font-size: 16px;
    font-family: "Terminus (TTF):style=Bold";
    line-height: 22>px;
}

.settingstablebody {
    color: #DEDEDEFF;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    font-family: "Terminus (TTF):style=Bold";
}

.genretablebody {
    color: #DEDEDEFF;
    text-align: right;
    font-size: 16px;
    line-height: 32px;
    font-family: "Terminus (TTF):style=Bold";
}

.artisttablebody {
    color: #DEDEDEFF;
    text-align: left;
    font-size: 16px;
    line-height: 32px;
    font-family: "Terminus (TTF):style=Bold";
}

.vertscroll {
    width: 10px;
    height: 100px;
    right: 0px;
    background-color: #FFFFFF66;
}

.horiscroll {
    width: 100px;
    height: 10px;
    bottom: 0px;
    background-color: #FFFFFF66;
}

.vertgap {
    height: 5px;
    width: 100%;
}
.horgap {
    height: 100%;
    width: 5px;
}

.gap {
    width: 5px;
}

.wth50 {
    width: 50px;
    height: 100%;
    background-color: #00FF00FF;
}

.wth100 {
    width: 100px;
    height: 100%;
    background-color: #FF0000FF;
}

.overflowhidden {
    overflow: hidden;
}

#headercol {
    width: 100%;
    height: 100px;
}

.headerrow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
}

#toolbarbodycol {
    width: 100%;
    height: 100%;
    background-color: #454545FF;
}

.toolbtn {
    width: 30px;
    height: 30px;
}

.closebtn {
    margin: auto;
    top: 5px;
    width: 30px;
    height: 30px;
}

.closeicon {
    width: 30px;
    height: 30px;
    background-image: url("close.png");
    blocks: no;
}

.closeiconblack {
    width: 30px;
    height: 30px;
    background-image: url("closeblack.png");
    blocks: no;
}

#previcon {
    width: 30px;
    height: 30px;
    background-image: url("prev.png");
    blocks: no;
}

#nexticon {
    width: 30px;
    height: 30px;
    background-image: url("next.png");
    blocks: no;
}

#playicon {
    width: 30px;
    height: 30px;
    background-image: url("play.png");
    blocks: no;
}

#shuffleoff {
    width: 30px;
    height: 30px;
}

#shuffleon {
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    background-color: #ABABAB99;
    blocks: no;
    box-shadow: 5px #0000000A;
}

#shuffleicon {
    width: 30px;
    height: 30px;
    background-image: url("shuffle.png");
    blocks: no;
}

#settingsicon1 {
    width: 30px;
    height: 30px;
    background-image: url("settings.png");
    blocks: no;
}

#visuicon {
    width: 30px;
    height: 30px;
    background-image: url("visu.png");
    blocks: no;
}

#editicon {
    width: 30px;
    height: 30px;
    background-image: url("edit.png");
    blocks: no;
}

#maxicon {
    width: 30px;
    height: 30px;
    background-image: url("max.png");
    blocks: no;
}

#clipboardicon {
    width: 30px;
    height: 30px;
    background-image: url("max.png");
    blocks: no;
}

#filtericon {
    width: 30px;
    height: 30px;
    background-image: url("filter.png");
    blocks: no;
}

#clearicon {
    width: 30px;
    height: 30px;
    background-image: url("close.png");
    blocks: no;
}

#seekbar {
    width: 100%;
    height: 30px;
    background-color: #454545FF;
    border-radius: 4px;
    box-shadow: 5px #0000000A;
}

#volbar {
    width: 100px;
    height: 30px;
    background-color: #454545FF;
    border-radius: 4px;
    box-shadow: 5px #0000000A;
}

#timebck {
    top: 4px;
    width: 100%;
    height: 22px;
    background-color: #BBBBBBFF;
    border-radius: 4px;
    box-shadow: 5px #0000000A;
}

#timetf {
    width: 100%;
    height: 100%;
    blocks: no;
    color: #EFEFEFFF;
    font-size: 16px;
    text-align: center;
    font-family: "Terminus (TTF):style=Bold";
}

#infobck {
    width: 500px;
    height: 30px;
}

#infotf {
    width: 100%;
    height: 100%;
    blocks: no;
    color: #EFEFEFFF;
    font-size: 16px;
    text-align: center;
    font-family: "Terminus (TTF):style=Bold";
}

#filterbck {
    width: 100%;
    height: 30px;
    background-color: #DEDEDEFF;
    border-radius: 4px;
    box-shadow: 5px #0000000A;
}

#filtertf {
    width: 100%;
    height: 100%;
    blocks: no;
    color: #232323FF;
    font-size: 16px;
    text-align: center;
    font-family: "Terminus (TTF):style=Bold";
}

#buttonsbck {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.dragger {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: #00000099;
}

#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

#seekknob {
    width: 100px;
    height: 100px;
    left: 0px;
    align-items: center;
}

#playbtn {
    width: 40px;
    height: 40px;
    margin: auto;
}

#playicon {
    width: 40px;
    height: 40px;
    background-image: url("play.png");
    blocks: no;
}

#pauseicon {
    width: 40px;
    height: 40px;
    background-image: url("pause.png");
    blocks: no;
}

#volknob {
    width: 100px;
    height: 100px;
    right: 0px;
    align-items: center;
}

#mutebtn {
    width: 40px;
    height: 40px;
    margin: auto;
}

#muteicon {
    width: 40px;
    height: 40px;
    background-image: url("mute.png");
    blocks: no;
}

#unmuteicon {
    width: 40px;
    height: 40px;
    background-image: url("unmute.png");
    blocks: no;
}

#controls {
    width: 600px;
    height: 100px;
    margin: auto;
    bottom: 5px;
}

.50px {
    width: 50px;
    height: 100%;
}

#toolbar {
    top: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 89px;
}

#filterbarbck {
    width: 100%;
    height: 28px;
    background-color: #EFEFEFFF;
    box-shadow: 5px #0000000A;
    border-radius: 4px;
}

#filterbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#filterbtn {
    width: 30px;
    height: 30px;
}

#clearbtn {
    width: 30px;
    height: 30px;
}

.if_clear_btn_back {
    background-color: #FFFFFFFF;
    right: 5px;
    top: 5px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 3px #00000022;
}

.if_clear_btn {
    width: 100%;
    height: 100%;
}

.if_clear_btn_icon {
    left: -2px;
    top: -2px;
    width: 30px;
    height: 30px;
    background-image: url("close.png");
    blocks: no;
}

#visuals {
    width: 100%;
    height: 150px;
}

.freq {
    width: 100%;
    height: 150px;
    background-color: #151515FF;
}

.cover {
    width: 150px;
    height: 150px;
    background-color: #353535FF;
}

#settingspopup {
    width: 520px;
    height: 280px;
    margin: auto;
}

#filterpopup {
    width: 520px;
    height: 480px;
    margin: auto;
}

#genrelist {
    width: 150px;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    background-color: #353535FF;
}

#artistlist {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    background-color: #252525FF;
}

#settingslist {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 60px;
    overflow: hidden;
    background-color: #151515FF;
}

#settingsicon {
    width: 30px;
    height: 30px;
    background-image: url("home.png");
    blocks: no;
}

.popup_page {
    width: 100%;
    height: 100%;
}

.popupshadow {
    width: 100%;
    height: 100%;
    margin: 5px;
    border-radius: 15px;
    background-color: #151515FF;
    box-shadow: 40px #FFFFFF22;
 }

.popupcontainer {
    align-items: center;
}
