.fullscaleview {
    height: 100%;
    width: 100%;
}

.black {
    background-color: #000000FF;
}

.colflex {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.rowflex {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#songlisttop {
    height: 185px;
    width: 100%;
}

#main_top {
    height: 38px;
    width: 100%;
}

.tablehead {
    height: 20px;
    width: 100%;
    background-color: #252525FF;
}

.tablebody {
    color: #DEDEDEFF;
    font-size: 16px;
    font-family: "Terminus (TTF):style=Bold";
}

.vertscroll {
    width: 10px;
    height: 100px;
    right: 0px;
    background-color: #ACACAC66;
}

.horiscroll {
    width: 100px;
    height: 10px;
    bottom: 0px;
    background-color: #ACACAC66;
}

.vertgap {
    height: 5px;
    width: 100%;
}
.horgap {
    height: 100%;
    width: 5px;
}

.gap {
    width: 5px;
}

.wth50 {
    width: 50px;
    height: 100%;
    background-color: #00FF00FF;
}

.wth100 {
    width: 100px;
    height: 100%;
    background-color: #FF0000FF;
}

.overflowhidden {
    overflow: hidden;
}

#headercol {
    width: 100%;
    height: 100px;
}

.headerrow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
}

#toolbarbodycol {
    width: 100%;
    height: 100%;
    background-color: #454545FF;
}

.toolbtn {
    width: 30px;
    height: 30px;
}

#closeicon {
    width: 30px;
    height: 30px;
    background-image: url("close.png");
    blocks: no;
}

#previcon {
    width: 30px;
    height: 30px;
    background-image: url("prev.png");
    blocks: no;
}

#nexticon {
    width: 30px;
    height: 30px;
    background-image: url("next.png");
    blocks: no;
}

#playicon {
    width: 30px;
    height: 30px;
    background-image: url("play.png");
    blocks: no;
}

#shuffleicon {
    width: 30px;
    height: 30px;
    background-image: url("shuffle.png");
    blocks: no;
}

#settingsicon {
    width: 30px;
    height: 30px;
    background-image: url("settings.png");
    blocks: no;
}

#donateicon {
    width: 30px;
    height: 30px;
    background-image: url("donate.png");
    blocks: no;
}

#editicon {
    width: 30px;
    height: 30px;
    background-image: url("edit.png");
    blocks: no;
}

#maxicon {
    width: 30px;
    height: 30px;
    background-image: url("max.png");
    blocks: no;
}

#clipboardicon {
    width: 30px;
    height: 30px;
    background-image: url("max.png");
    blocks: no;
}

#filtericon {
    width: 30px;
    height: 30px;
    background-image: url("filter.png");
    blocks: no;
}

#clearicon {
    width: 30px;
    height: 30px;
    background-image: url("close.png");
    blocks: no;
}

#seekbar {
    width: 100%;
    height: 30px;
    background-color: #454545FF;
    border-radius: 4px;
    box-shadow: 5px #0000000A;
}

#volbar {
    width: 100px;
    height: 30px;
    background-color: #454545FF;
    border-radius: 4px;
    box-shadow: 5px #0000000A;
}

#timebck {
    width: 100%;
    height: 30px;
    background-color: #676767FF;
    border-radius: 4px;
    box-shadow: 5px #0000000A;
}

#timetf {
    width: 100%;
    height: 100%;
    blocks: no;
    color: #DEDEDEFF;
    font-size: 16px;
    text-align: center;
    font-family: "Terminus (TTF):style=Bold";
}

#infobck {
    width: 500px;
    height: 30px;
    background-color: #454545FF;
    border-radius: 4px;
    box-shadow: 5px #0000000A;
}

#infotf {
    width: 100%;
    height: 100%;
    blocks: no;
    color: #DEDEDEFF;
    font-size: 16px;
    text-align: center;
    font-family: "Terminus (TTF):style=Bold";
}

#filterbck {
    width: 100%;
    height: 30px;
    background-color: #454545FF;
    border-radius: 4px;
    box-shadow: 5px #0000000A;
}

#filtertf {
    width: 100%;
    height: 100%;
    blocks: no;
    color: #DEDEDEFF;
    font-size: 16px;
    text-align: center;
    font-family: "Terminus (TTF):style=Bold";
}

#buttonsbck {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.dragger {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: #00000099;
}

#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

#seekknob {
    width: 100px;
    height: 100px;
    left: 0px;
}

#playbtn {
    width: 40px;
    height: 40px;
    margin: 30px;
}

#playicon {
    width: 40px;
    height: 40px;
    background-image: url("play.png");
    blocks: no;
}

#pauseicon {
    width: 40px;
    height: 40px;
    background-image: url("pause.png");
    blocks: no;
}

#volknob {
    width: 100px;
    height: 100px;
    right: 0px;
}

#mutebtn {
    width: 40px;
    height: 40px;
    margin: 30px;
}

#muteicon {
    width: 40px;
    height: 40px;
    background-image: url("mute.png");
    blocks: no;
}

#unmuteicon {
    width: 40px;
    height: 40px;
    background-image: url("unmute.png");
    blocks: no;
}

#controls {
    width: 600px;
    height: 100px;
    margin: auto;
    bottom: 0px;
}

.50px {
    width: 45px;
    height: 100%;
}

#toolbar {
    top: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 89px;
}
