.fullscale {
    height: 100%;
    width: 100%;
}

.colflex {
    display: flex;
    flex-direction: column;
}

.rowflex {
    display: flex;
    flex-direction: row;
}

.popupshadow {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #151515FF;
    box-shadow: 40px #FFFFFF22;
 }

.popupcontainer {
    align-items: center;
}

.vertscroll {
    width: 10px;
    height: 100px;
    right: 0px;
    background-color: #FFFFFF66;
}

.horiscroll {
    width: 100px;
    height: 10px;
    bottom: 0px;
    background-color: #FFFFFF66;
}

.gap {
    width: 5px;
}

.toolbtn {
    width: 30px;
    height: 30px;
}

.acceptbtn {
    margin: auto;
    bottom: 5px;
}

.closebtn {
    margin: auto;
    top: 5px;
}

.font16center {
    font-size: 16px;
    text-align: center;
    font-family: "Terminus (TTF):style=Bold";
}

.font16left {
    font-size: 16px;
    text-align: left;
    font-family: "Terminus (TTF):style=Bold";
    word-wrap: break-word;
    line-height: 16px;
}

.textaligncenter {
    text-align: center;
}

.textalignleft {
    text-align: left;
}

.textalignright {
    text-align: right;
}

.closeicon {
    width: 30px;
    height: 30px;
    background-image: url("close.png");
    blocks: no;
}

.closeiconblack {
    width: 30px;
    height: 30px;
    background-image: url("closeblack.png");
    blocks: no;
}

.accepticon {
    width: 30px;
    height: 30px;
    background-image: url("accept.png");
    blocks: no;
}

.freq {
    width: 100%;
    height: 150px;
    background-color: #151515FF;
}

.cover {
    width: 150px;
    height: 150px;
    background-color: #151515FF;
}

.50px {
    width: 50px;
    height: 100%;
}

.rowtext {
    color: #DEDEDEFF;
    font-size: 16px;
    font-family: "Terminus (TTF):style=Bold";
}

.rowtextcenter {
    color: #DEDEDEFF;
    font-size: 16px;
    font-family: "Terminus (TTF):style=Bold";
    text-align: center;
}

.rowcolor {
    background-color: #222222FF;
}

.rowa {
    line-height: 25px;
    margin-left: 10px;
    width: 100%;
    height: 30px;
    background-color: #222222FF;
}

.rowb {
    line-height: 25px;
    margin-left: 10px;
    top: 30px;
    width: 100%;
    height: 30px;
    background-color: #252525FF;
}

.rowselected {
    margin-left: 10px;
    top: 60px;
    width: 100%;
    height: 30px;
    line-height: 25px;
    background-color: #004400FF;
}

.contextrowa {
    line-height: 40px;
    margin-left: 10px;
    width: 100%;
    height: 30px;
    background-color: #222222FF;
}

.contextrowb {
    line-height: 40px;
    margin-left: 10px;
    top: 30px;
    width: 100%;
    height: 30px;
    background-color: #252525FF;
}

.contextrowselected {
    margin-left: 10px;
    top: 60px;
    width: 100%;
    height: 30px;
    line-height: 40px;
    background-color: #004400FF;
}

.head {
    height: 20px;
    width: 100%;
    margin-left: 10px;
    line-height: 20px;
    color: #DEDEDEFF;
    background-color: #121212FF;
}

#songlisttop {
    height: 150px;
    width: 100%;
}

#toolbarcolor {
    width: 100%;
    height: 100%;
    background-color: #454545FF;
}


#previcon {
    width: 30px;
    height: 30px;
    background-image: url("prev.png");
    blocks: no;
}

#nexticon {
    width: 30px;
    height: 30px;
    background-image: url("next.png");
    blocks: no;
}

#playicon {
    width: 30px;
    height: 30px;
    background-image: url("play.png");
    blocks: no;
}

#shuffleicon {
    width: 30px;
    height: 30px;
    background-image: url("shuffle.png");
    blocks: no;
}

#settingsicon {
    width: 30px;
    height: 30px;
    background-image: url("settings.png");
    blocks: no;
}

#metacovericon {
    width: 30px;
    height: 30px;
    background-image: url("upload.png");
    blocks: no;
}

#visuicon {
    width: 30px;
    height: 30px;
    background-image: url("visu.png");
    blocks: no;
}

#metaicon {
    width: 30px;
    height: 30px;
    background-image: url("meta.png");
    blocks: no;
}

#maxicon {
    width: 30px;
    height: 30px;
    background-image: url("max.png");
    blocks: no;
}

#clipboardicon {
    width: 30px;
    height: 30px;
    background-image: url("max.png");
    blocks: no;
}

#filtericon {
    width: 30px;
    height: 30px;
    background-image: url("filter.png");
    blocks: no;
}

#sortingicon {
    width: 30px;
    height: 30px;
    background-image: url("sorting.png");
    blocks: no;
}

#clearicon {
    width: 30px;
    height: 30px;
    background-image: url("close.png");
    blocks: no;
}

#playicon {
    width: 40px;
    height: 40px;
    background-image: url("play.png");
    blocks: no;
}

#pauseicon {
    width: 40px;
    height: 40px;
    background-image: url("pause.png");
    blocks: no;
}

#muteicon {
    width: 40px;
    height: 40px;
    background-image: url("mute.png");
    blocks: no;
}

#unmuteicon {
    width: 40px;
    height: 40px;
    background-image: url("unmute.png");
    blocks: no;
}

#shuffleoff {
    width: 30px;
    height: 30px;
}

#shuffleon {
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    background-color: #ABABAB99;
    blocks: no;
    box-shadow: 5px #0000000A;
}

#timetf {
    blocks: no;
    color: #EFEFEFFF;
}

#infobck {
    width: 500px;
    height: 30px;
}

#infotf {
    blocks: no;
    color: #EFEFEFFF;
}

#filterbck {
    width: 100%;
    height: 30px;
    background-color: #DEDEDEFF;
    border-radius: 4px;
    box-shadow: 5px #0000000A;
}

#filtertf {
    blocks: no;
    color: #232323FF;
}

#inputbck {
    width: 500px;
    height: 30px;
    background-color: #DEDEDEFF;
    border-radius: 4px;
    box-shadow: 5px #0000000A;
}

#inputarea {
    background-color: #00000033;
}

#inputtf {
    blocks: no;
    color: #232323FF;
    margin-left: 5px;
}

#buttonsbck {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
}

#seekknob {
    width: 100px;
    height: 100px;
    left: 0px;
    align-items: center;
}

#volknob {
    width: 100px;
    height: 100px;
    right: 0px;
    align-items: center;
}

#playbtn {
    width: 40px;
    height: 40px;
    margin: auto;
}

#mutebtn {
    width: 40px;
    height: 40px;
    margin: auto;
}

#metacoverbtn {
    width: 40px;
    height: 40px;
    right: 0px;
    top: 0px;
}

#controls {
    width: 600px;
    height: 100px;
    margin: auto;
    bottom: 5px;
}

#toolbar {
    top: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 89px;
}

#filterbarbck {
    width: 100%;
    height: 28px;
    background-color: #EFEFEFFF;
    box-shadow: 5px #0000000A;
    border-radius: 4px;
}

#visuals {
    width: 100%;
    height: 150px;
}

#settingspopup {
    width: 520px;
    height: 280px;
    margin: auto;
}

#filterpopup {
    width: 520px;
    height: 480px;
    margin: auto;
}

#metapopup {
    width: 750px;
    height: 440px;
    margin: auto;
}

#contextpopup {
    width: 200px;
    height: 160px;
    margin: auto;
}

#genretable {
    width: 150px;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #252525FF;
}

#artisttable {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #252525FF;
}

#metatable {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #252525FF;
}

#contexttable {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #353535FF;
}

#settingstable {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #151515FF;
}

#metacover {
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
}
